@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70vw;
    height: 70vh;
    
}

.title{
    margin-bottom: 5px;
    font-family: 'Dosis', sans-serif;
    font-size: 2rem;
}

.subtitle{
    text-align: center;
    font-family: 'Dosis', sans-serif;
    font-size: 1.1rem;
}

.search-bar{
    width: 400px;
    margin:20px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    
    font-size: 0.9rem;
 
}
.search-bar:focus{
    outline: none;
}

.search-btn{
padding: 5px;
border-radius: 5px;
font-size: 0.8rem;
outline: none;
border: 1px solid black;
font-family:Arial, Helvetica, sans-serif;
text-transform: capitalize;
transition: all 0.3s;
}

.search-btn:hover{
    background-color: rgb(192, 192, 192);
}

.search-btn:focus{
    outline: none;
}

