@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 70vw;
    height: 70vh;
    position: relative;
    top: 250px;
    
}

.title{
    position: relative;
    margin-bottom: 5px;
    font-family: 'Dosis', sans-serif;
    font-size: 2rem;
   
}

.subtitle{
    text-align: center;
    font-family: 'Dosis', sans-serif;
    font-size: 1.1rem;
}


.search-container{
    position: relative;
    border: 1.5px solid black;
    border-radius: 10px;
    margin: 5px;
    margin-top: 20px;
}

.search-bar{
    width: 400px;
    font-size: 1rem;
    border: none;
    padding: 5px;
    margin: 5px;
}
.search-bar:focus{
    outline: none;
}

.search-btn{
padding: 5px;
border-radius: 5px;
font-size: 1rem;
outline: none;
border: 1px solid black;
font-family:Arial, Helvetica, sans-serif;
text-transform: capitalize;
transition: all 0.3s;
}

.search-btn:hover{
    background-color: rgb(192, 192, 192);
}

.search-btn:focus{
    outline: none;
}

#search-suggestions{
    width: 100%;

}

p{
    width: 100%;
    padding: 8px;
}

.selected {
    background-color: rgb(219, 219, 219);
}

/* 
p:hover{
    background-color: rgb(219, 219, 219);
} */

li{
    list-style: none;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1rem;
    width: 100%;
    padding-bottom: 10px;
}

.search-link{
    color: black;
    text-decoration: none;

}


