<!DOCTYPE html>
<html>
    <%- include('../partials/head.ejs')  %>

    <body>
        <div class="main-container">
            <% if(data){ %>
            <h1 class="title"><%= data.comedian_name %></h1>
            <% } else { %>
                <h1 class="title">No comedian with that name!</h1>
                <a href="/">
                <h2 c1lass="back-link"> Go back to search</h2>
                </a>
            <% } %>
            
        </div>
        
        

        <script src="" async defer></script>
    </body>
</html>