<!DOCTYPE html>
<html>
    <%- include('../partials/head.ejs')  %>

    <body>
        <div class="main-container-comedian">
            <% if(data){ %>
                <img class="comedian-img" alt="comedian-image" src="<%= data.img_lg %>"> </img> 
            <h1 class="title"><%= data.comedian_name %></h1>
                <p class="comedian-bio"><%= data.bio %></p>
                <div class="loading-container">
                    <img class="loading" src="/loading.gif"></img>
                    <p class="calculating">Calculating funnyness...</p>
                </div>
              
                <p class="off veredict">NOT FUNNY!</p>
                <a href="/">
                    <h2 class="back-link"> Go back to search</h2>
                </a>
                
            <% } else { %>
                <h1 class="title">No comedian with that name!</h1>
                <a href="/">
                <h2 class="back-link"> Go back to search</h2>
                </a>
            <% } %>
            
        </div>
        
        

        <script src="/comedian.js" async defer></script>
    </body>
</html>