<!DOCTYPE html>
<html>
    <%- include('../partials/head.ejs')  %>

    <body>
        <div class="main-container">
            <h1 class="title">is COMEDIAN funny?</h1>
            <h2 class="subtitle">Search for an NYC comedian and a state of the art A.I. will determine if they are funny.</h2>
            <div class="search-container">
                <input id="search-bar" class="search-bar" type="text" placeholder="Search for a comedian">
                <button class="search-btn">Search</button>
                <ul id="search-suggestions">

                </ul>
            </div>
          
            
        </div>

        <script src="app.js"></script>
    </body>
</html>